<!DOCTYPE html>
<html ng-app="Lama">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Bootstrap</title>
<link rel="stylesheet" href="./libs/bootstrap/dist/css/bootstrap.min.css">
<style type="text/css">
.box {border: 1px solid #000; min-height:100px;}
</style>
</head>

<body>
<div class="wrapper">
  <div class="jumbotron" ng-controller="CtrlFriend">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <ul>
          <li ng-repeat="friend in friends" ng-bind="friend.name"></li>
        </ul>

        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="friend">  
          </div>
          <button class="btn btn-success" ng-click="addFriend()">추가</button>
          <button class="btn btn-success" ng-click="removeFriend()">삭제</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="./libs/angular/angular.min.js"></script>
<script type="text/javascript" src="./libs/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="./script/app.js"></script>
<script type="text/javascript" src="./module/services/FriendService.js"></script>
<script type="text/javascript" src="./module/controllers/CtrlFriend.js"></script>
</body>
</html>